.header{
    display: flex;
    justify-content: space-between;
    margin-top: 49px;
    & button{
        color: red;
    }
    &__icon{
        display: flex;
        &__text{
            margin-left: 17px;
            & p{
                font-size: 24px;
                line-height: 29px;
                font-weight: 800;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #181818;
            }
            & span{
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #7B7B7B;
            }
        }
    }

}

.userLink{
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 200px;
    height: 40px;
    z-index: 200;
    background:#FE5F1E;
    border-radius: 30px;
    
}

@media (max-width: 900px) {
    .userLink{
        width: 50px;
        height: 50px;
        bottom: 20px;
        right: 20px;
        background: whitesmoke;
        padding-top: 5px;
        & button{
            & a {
                font-size: 0px;
            }
            
        }
    }
}

@media (max-width: 515px){
    .header{
        &__icon{
            &__text{
                & p{
                    font-size: 18px;
                }
                & span{
                    font-size: 14px;
                }
            }
        }
        & button{      
            padding: 0 18px !important;
            width: 125px !important;
            height: 45px !important;
            font-size: 14px !important;
            font-weight: 400 !important;        
        }
    }
}

@media (max-width: 515px){
    .header{
        &__icon{
            &__text{
                & span{
                    display: none;
                }
            }
        }
    }
}


@media (max-width: 400px){
    .header{
        &__icon{
            &__text{
                & p{
                    font-size: 12px;
                }
            }
        }
    }
}