.bucket{
    width: 820px;
    margin: 0 auto;
    margin-top: 94px;
}

.header{
    display: flex;
    justify-content: space-between;
    & p {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 0.01em;
        color: #000000;
        & span {
            margin-left: 19px;
        }  
    }
}


.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    &__section{
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        letter-spacing: 0.01em;
        position: relative;
        & span{
            color: #FE5F1E;
        }
        &__orderBtn{
            background: #FE5F1E;
            color: white;
        }
    }

}

@media(max-width:870px){
    .bucket{
        width: 100%;
    }
}

@media(max-width:515px){
    .header{
        & p{ 
            font-size: 24px;
        }
        & button{
            width: 150px !important;
            height: 40px !important;
            padding-top: 10px !important;
            & span{
                font-size: 0 !important;
            }
        }
    }
    .footer{
        &__section{
            font-size: 16px;
            & button {
                width: 180px !important;
                height: 45px !important;
                padding-top: 5px !important;
                & span{
                    font-size: 0px !important;
                }
            }
        }
    }
}

@media(max-width:485px){
    .footer{
        display: block;
        text-align: center;
        &__section{
            & p{
                margin-top: 15px;
                font-size: 20px;
            }
            & button{
                position: static !important;
                margin-top: 20px !important;
            }
        }
    }
}

@media(max-width:395px){
    .header{
        & p{
            & span{
                font-size: 0;
            }
        }
    }
}